{% extends 'Louisoft/base.html' %}
{% load static %}

{% block content %}
<section id="portfolio" class="portfolio">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary">Portfolio</h2>
            <hr class="rubberBand animated infinite star-dark mb-5">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-1">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static 'assets/img/datefix.png' %}"></a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-2">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static 'assets/img/chatwithme.png' %}"></a>
                </div>
                <div class="col-md-6 col-lg-4">
                    <a class="d-block mx-auto portfolio-item" data-toggle="modal" href="#portfolio-modal-3">
                        <div class="d-flex portfolio-item-caption position-absolute h-100 w-100">
                            <div class="my-auto portfolio-item-caption-content w-100 text-center text-white"><i class="fa fa-search-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="{% static 'assets/img/gocareers.png' %}"></a>
                </div>
            </div>
        </div>
    </section>
    <section id="about" class="text-white mb-0" style="background-color: #f27087;">
        <div class="container">
            <h2 class="text-uppercase text-center text-white">About</h2>
            <hr class="wobble animated infinite star-light mb-5">
            <div class="row">
                <div class="col-lg-4 ml-auto">
                    <p class="lead">My name is Ohaegbu Louis. I am a highly driven recent computer science graduate from the university of Nigeria, Nsukka, Nigeria. I am skilled in the following programming languages: Java, Python and Javascript. I use the listed programming
                        language for software development and automations. I am also a very empathetic person who loves to share my knowlege and unleash hidden potentials in people towards technology.<br><br></p>
                </div>
                <div class="col-lg-4 mr-auto">
                    <p class="lead">Whether you are an individual who wants to delve into the world of technology, and don't just know how to start, i am here to teach you. If you are a company or an individual who has an idea or need a website or an application for
                        your business or anything like that, you can holla me. i will bring that idea of yours to life. I am up for hire as well.&nbsp;</p>
                </div>
            </div>
            <div class="text-center mt-4"></div>
        </div>
    </section>
    <section id="contact">
        <div class="container">
            <h2 class="text-uppercase text-center text-secondary mb-0">Contact Me</h2>
            <hr class="bounce animated infinite star-dark mb-5">
            <div class="row">
                <div class="col-lg-6 max-auto text-right">
                    <a href='mailto:ohaegbulouis@gmail.com' class="btn btn-success slideInLeft animated infinite">
                        <span><i class="fas fa-envelope"></i></span> Mail Me</a>
                </div>
                <div class="col-lg-6 max-auto text-left">
                    <a href='tel:+2348066556479' class="btn btn-secondary slideInRight animated infinite">
                        <span><i class="fas fa-phone"></i></span> Call Me</a>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}

{% block title %}
{% endblock %}

{% block header %}
    <header class="text-white masthead text-white text-center" style="background-color: #ba7853;">
        <div class="container" data-aos="slide-right" data-aos-duration="2000">
            {% if message %}
            <div class="alert alert-{{ status }} alert-dismissible fade show" role="alert">
              <strong>{{ message }}</strong>

            </div>
            {% endif %}
            <img class="rounded-circle img-fluid bg-light border border-info shadow-lg d-block mx-auto mb-5" src="{% static 'assets/img/C360_2020-03-16-09-52-19-393.jpg' %}" style="background-image: url(&quot;assets/img/C360_2020-03-16-09-52-19-393.jpg&quot;);background-size: contain;background-repeat: no-repeat;background-position: top;"
                width="200" alt="profile picture">
            <h1>Louis Ohaegbu</h1>
            <hr class="rubberBand animated infinite star-light">
            <h2 class="font-weight-light mb-0">Software Developer - Tech Enthusiast - Teacher</h2>
            <hr>
            <h2 class="font-weight-light mb-0"></h2>
        </div>
    </header>
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.css">
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}">
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.1.1/aos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="{% static 'assets/js/script.min.js' %}"></script>
{% endblock %}