{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="{% static 'assets/css/fontawesome/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/icons/font-awesome-4.7.0/css/font-awesome.min.css'%}">
  <link rel="stylesheet" href="{% static 'assets/plugins/css/bootstrap.min.css'%}">


  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <main class="row border border-warning border-5 rounded m-3 display-4">
    <div class="col-sm-2 bg-secondary p-3 text text-white font-weight-normal">
       <header class="text-center">
         <img class="img img-thumbnail rounded-circle border border-0"
              src="{% static '/assets/images/passport.png' %}" height="50%" width="50%">
       </header>
      <section class="mt-5">
        <h6 class="mb-5"><span class="p-1 bg-warning mr-2 rounded"><i class="fa fa-user"></i></span>Profile</h6>
        <div  style="font-size: small">
          <p>Date of Birth: 15/July/1995</p>
          <p>Nationality: Nigerian</p>
          <p>State of Origin: Imo</p>
          <p>Height: 189 cm</p>
          <p>Weight: 100 kg</p>
        </div>

      </section>
      <section class="mt-5">
        <h6 class="mb-5"><span class="p-1 bg-warning mr-2 rounded"><i class="fa fa-code"></i></span>Skills</h6>
        <div  style="font-size: small">
          <p>Software Backend</p>
          <p class="ml-3"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
            <p class="small">(python and java)</p>
            <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning">
          </i><i class="fa fa-star text-warning"></i></p>
          <p>Microsoft Office</p>
          <p class="ml-3"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
            <p class="small">(microsoft word, microsoft powerpoint and a little bit of microsoft excel)</p>
            <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning">
          </i><i class="fa fa-star"></i></p>
          <p>Software Frontend</p>
          <p class="small">(HTML, CSS, Bootstrap and Javascript)</p>
          <p class="ml-3"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i><i class="fa fa-star">
          </i><i class="fa fa-star"></i></p>
        </div>

      </section>
      <section class="mt-5">
        <h6 class="mb-5"><span class="p-1 bg-warning mr-2 rounded"><i class="fa fa-comment "></i></span>Languages</h6>
        <div  style="font-size: small">
          <p>English</p>
          <p class="ml-3"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning">
          </i><i class="fa fa-star text-warning"></i></p>
          <p>Igbo</p>
          <p class="ml-3"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
            <i class="fa fa-star text-warning"></i><i class="fa fa-star">
          </i><i class="fa fa-star"></i></p>

        </div>

      </section>
      <section class="mt-5">
        <h6 class="mb-5"><span class="p-1 bg-warning mr-2 rounded"><i class="fa fa-user-friends"></i></span>References</h6>
        <div  class="mb-5" style="font-size: small">
          <h6>Mr Uche Nwamara </h6>
          <p>University of Nigeria, Nsukka</p>
          <p>ICT/ Website Unit</p>
          <p>Team Leader</p>
          <p style="font-size:smaller"><span class="p-1 bg-warning mr-1 rounded"><i class="fa fa-phone"></i></span> +2348065272241</p>
          <p style="font-size:smaller"><span class="p-1 bg-warning mr-1 rounded"><i class="fa fa-mail-bulk"></i></span> uche.nwamarah@unn.edu.ng</p>
        </div>
        <div  class="mb-5" style="font-size: small">
          <h6>Mr Celestine Ugwu </h6>
          <p>University of Nigeria, Nsukka</p>
          <p>Department of Computer Science</p>
          <p>Project Supervisor</p>
          <p style="font-size:smaller"><span class="p-1 bg-warning mr-1 rounded"><i class="fa fa-phone"></i></span> +2348030899997</p>
          <p style="font-size:smaller"><span class="p-1 bg-warning mr-1 rounded"><i class="fa fa-mail-bulk"></i></span> celestine.ugwu@unn.edu.ng</p>
        </div>

      </section>
    </div>
    <div class="col-sm-10 bg-light text-dark">
      <div class="row">
        <div class="col-sm-12">
          <header style="font-size: small;">
            <h1 style="font-size: xx-large">OHAEGBU UZOCHUKWU LOUIS</h1>
            <p class="font-weight-normal">16 Eluemeke street, New-Site Estate, Satellite Town, Lagos state. Nigeria.</p>
            <p class="font-weight-normal"><span class="p-1 mr-2"><i class="fa fa-phone"></i></span> +2348066556479</p>
          <p class="font-weight-normal"><span class="p-1 mr-2"><i class="fa fa-mail-bulk"></i></span>ohaegbulouis@gmail.com</p>
            <hr/>
          </header>
        </div>
      </div>
      <div class="row font-weight-normal" style="font-size: small">
        <div class="col-sm-6">
        <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-graduation-cap"></i></span>Education</h5>
          <hr class="mt-0"/>
          <div class="mb-3 ml-5">
            <h6>Bachelor of Computer Science</h6>
            <p>CGPA: 4.50/5 (First Class Honours)</p>
            <p>University of Nigeria, Nsukka</p>
            <p>2019</p>
          </div>
          <div class="mb-3 ml-5">
            <h6>West African Senior School Certificate</h6>
            <p>2 Distinctions, 6 Credits</p>
            <p>NOWA Secondary School, Navy Town, Ojo, Lagos.</p>
            <p>2011</p>
          </div>
          <div class="ml-5">
            <h6>First School Leaving Cerificate</h6>
            <p>Divrel Nursery and Primary School</p>
            <p>2005</p>
          </div>
        </section>
        <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-address-card"></i></span>Certifications and Trainings</h5>
          <hr class="mt-0"/>
          <div class="mb-3 ml-5">
            <h6>Android Development</h6>
            <p>Google Africa Developer Scholarship Program 3.0</p>
            <p>2018</p>
          </div>
          <div class="mb-3 ml-5">
            <h6>Basic Electronics and Electrical Engineering</h6>
            <p>Federal Polytechnic, Nekede</p>
            <p>2012-2013</p>
          </div>
        </section>
        <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-suitcase"></i></span>Work Experience</h5>
          <hr class="mt-0"/>
          <div class="mb-3 ml-5">
            <h6>University of Nigeria, Nsukka</h6>
            <p>ICT/Innovation Unit: Wensite Section (SIWES)</p>
            <p>September 2018 - January 2019</p>
          </div>
        </section>
      </div>
      <div class="col-sm-6">
      <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-user-friends"></i></span>Leadership Roles and Responsibilities</h5>
          <hr class="mt-0"/>
          <div class="mb-3 ml-5">
            <p>2019: <span class="h6">Software Team Leader</span></p>
            <p>Department of Computer Science - 2019 Class</p>
            <p>University of Nigeria, Nsukka</p>
          </div>
          <div class="mb-3 ml-5">
            <p>2010-2011: <span class="h6">Chapel Prefect</span></p>
            <p>NOWA Secondary School - 2011 Class</p>
          </div>
        </section>
        <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-award"></i></span>Awards, Recognitions and Honours</h5>
          <hr class="mt-0"/>
          <div class="mb-3 ml-5">
            <h6>Best Student in Basic Electronics</h6>
            <p>2011 - NOWA Secondary School - class 2011</p>
          </div>
        </section>
             <section class="mt-5">
          <h5><span class="mr-2"><i class="fa fa-heart"></i></span>Hobbies and Interests</h5>
          <hr class="mt-0"/>
          <div class="d-block">
              <div class="text-center d-inline-block mr-3">
              <p><i class="fa fa-basketball-ball fa-2x"></i></p>
              <p>BasketBall</p>
              </div>
            <div class="text-center d-inline-block mr-3">
              <p><i class="fa fa-chess-board fa-2x"></i></p>
              <p>Playing Checkers</p>
              </div>
            <div class="text-center d-inline-block mr-3">
              <p><i class="fa fa-dumbbell fa-2x"></i></p>
              <p>Body Fitness</p>
              </div>
            <div class="text-center d-inline-block mr-3">
              <p><i class="fa fa-code fa-2x"></i></p>
              <p>Software Design</p>
              </div>
            <div class="text-center d-inline-block">
              <p><i class="fa fa-money-check fa-2x"></i></p>
              <p>Business</p>
              </div>
          </div>
        </section>
      </div>
      </div>

    </div>

  </main>
  <script src="{% static 'js/modernizr.js'%}"></script>
  <script src="{% static 'js/jquery.1.9.1.min.js'%}"></script>
  <script src="{% static 'assets/plugins/js/popper.min.js'%}"></script>
  <script src="{% static 'assets/plugins/js/bootstrap.min.js'%}" ></script>
  <script src="{% static 'assets/css/fontawesome/js/all.min.js'%}"></script>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script>
  <script src="https://www.google-analytics.com/analytics.js" async></script>
</body>
</html>
