{% load static %}
<html>
<head>
    <title>Consult - Anonymous Health Consultant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords" content="Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
    <script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="{% static 'Home/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{% static 'Home/js/jquery.min.js' %}"></script>
    <!-- Custom Theme files -->
    <link href="{% static 'Home/css/style.css' %}" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <!--webfont-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet"
          type="text/css">
    <link rel="icon" href="{% static 'Chat/media/img/favicon.png' %}" type="image/png">
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="logo">
                <a href="{% url 'anonymous_home' %}">
                    <h1 class="text-warning font-bold"
                        style="color: rgba(255,208,11,0.93); font-weight: bold">
                        Cons<span class="text-primary">ult</span></h1>
                </a>
            </div>

            <div class="clearfix"></div>
    </div>
    <div class="wmuSlider example1" style="overflow: hidden; height: 126px;">
        <article style="position: relative; width: 100%; opacity: 1;">
            <div class="banner-wrap">
                <h1>Let us Discuss About Your Health<br>Confidentially</h1>
            </div>
        </article>
        <article style="position: absolute; width: 100%; opacity: 0;">
            <div class="banner-wrap">
                <h1>Anonymous Consultancy.<br> You can tell us anything.</h1>
            </div>
        </article>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><a class="wmuSliderPrev">Previous</a><a
            class="wmuSliderNext">Next</a></div>
    <script src="{% static 'Home/js/jquery.wmuSlider.js' %}"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
</div>
</div>
<div class="top_grid">
    <div class="container">

        <a href="{% url 'enter_chat' %}" class="btn1 pull-right">Chat With a Consultant</a></div>
</div>


<div class="content_bottom">
    <div class="container">
        <h1 class="text-center py-5 text-white">Testimonials</h1>

        <section class="slider">
            <div class="flexslider">

                <div class="flex-viewport" style="overflow: hidden; position: relative;"></div>
                <ol class="flex-control-nav flex-control-paging">
                    <li><a class="flex-active">1</a></li>
                    <li><a class="">2</a></li>
                    <li><a class="">3</a></li>
                </ol>
                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="#">Previous</a></li>
                    <li><a class="flex-next" href="#">Next</a></li>
                </ul>
                <div class="flex-viewport" style="overflow: hidden; position: relative;">
                    <ul class="slides"
                        style="width: 1400%; transition-duration: 0s; transform: translate3d(-234px, 0px, 0px);">
                        {% for testimonial in testimonials %}
                        <li class="clone flex-active-slide" style="width: 234px; float: left; display: block;">
                            <div class="banner-info">
                                <h3>{{ testimonial.name}}</h3>
                                <h4><span class="m_2">"</span>{{ testimonial.text }}</h4>
                                <h5>{{ testimonial.date }}</h5>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <ol class="flex-control-nav flex-control-paging">
                    {% for number in count %}
                    <li><a>{{ number }}</a></li>
                    {% endfor %}
                </ol>
                <ul class="flex-direction-nav">
                    <li><a class="flex-prev" href="#">Previous</a></li>
                    <li><a class="flex-next" href="#">Next</a></li>
                </ul>
            </div>
        </section>
    </div>
</div>
<!-- FlexSlider -->
<link href="{% static 'Home/css/flexslider.css' %}" rel="stylesheet" type="text/css">
<script defer="" src="{% static 'Home/js/jquery.flexslider.js' %}"></script>
<script type="text/javascript">
    $(function () {
        SyntaxHighlighter.all();
    });
    $(window).load(function () {
        $('.flexslider').flexslider({
            animation: "slide",
            start: function (slider) {
                $('body').removeClass('loading');
            }
        });
    });
</script>
<!-- FlexSlider -->

</body>
</html>