{% load static %}
<html>
<head>
    <title>Order Tracking Form a Flat Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="keywords"
          content="Order Tracking Form Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>

    <!-- custom css file -->
    <link rel="stylesheet" href="{% static 'Order/css/style.css' %}">
    <!-- //custom css file -->

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic"
          rel="stylesheet" type="text/css">
    <!-- //google fonts -->

</head>

<body>
<h1>Order Tracking Form</h1>
<div class="agile-its">
    <h2>Make Your Order</h2>
    <div class="w3layouts">
        <div class="photos-upload-view">
            <form action="#" method="POST">
                <div class="agileinfo">
                </div>
                <div class="agileinfo-row">
                    <div class="ferry ferry-from">
                        <label>Address</label>
                        <input type="text" name="Name" placeholder="" required="">
                    </div>
                    <div class="ferry ferry-from">
                        <label>Phone Number</label>
                        <input type="text" name="Name" placeholder="" required="">
                    </div>


                    <div class="ferry ferry-from">
                        <label>Order ID</label>
                        <input type="text" name="Name" placeholder="" required="">
                    </div>
                </div>
                <div class="wthree-text">
                    <div class="wthreesubmitaits">
                        <input type="submit" name="submit" value="Submit">
                    </div>
                </div>
            </form>

        </div>
        <div class="clear"></div>
    </div>
</div>

</body>
</html>