<html><head>
<title>Health an Sports Category Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="keywords" content="Health Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design">
<script id="facebook-jssdk" src="//connect.facebook.net/en_US/all.js#xfbml=1"></script><script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery.min.js"></script>
<!-- Custom Theme files -->
<link href="css/style.css" rel="stylesheet" type="text/css">
<!-- Custom Theme files -->
<!--webfont-->
<link href="http://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css">
</head>
<body>
 <div class="header">
  <div class="header-top">
	<div class="container">
   		<div class="logo">
			<a href="index.html"><img src="images/logo.png" alt=""></a>
		</div>

				     <div class="clearfix"></div>
			</div>
		</div>
	    <div class="wmuSlider example1" style="overflow: hidden; height: 126px;">
			   <article style="position: relative; width: 100%; opacity: 1;">
			   	   <div class="banner-wrap">
					  <h1>Lorem Ipsum is <br>simply dummy text</h1>
				   </div>
				</article>
				<article style="position: absolute; width: 100%; opacity: 0;">
				   	<div class="banner-wrap">
						<h1>There are many<br> variations</h1>
					</div>
				</article>
		  <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a></div>
          <script src="js/jquery.wmuSlider.js"></script>
			<script>
       			$('.example1').wmuSlider();
   		    </script>
   	   </div>
   	   <div class="top_grid">
   	   	 	<div class="container">

   	   	 	<a href="join.html" class="btn1 pull-right">Join a Gym</a></div>
   	   	</div>


   	  <div class="content_bottom">
   	  	<div class="container">
   	  		<section class="slider">
				<div class="flexslider">

				 <div class="flex-viewport" style="overflow: hidden; position: relative;"></div><ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li><li><a class="">3</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul><div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1400%; transition-duration: 0s; transform: translate3d(-234px, 0px, 0px);"><li style="width: 234px; float: left; display: block;" class="clone">
							<div class="banner-info">
							   <h3>Lorem Ipsum is simply dummy</h3>
							   <h4><span class="m_2">"</span>Contrary to popular<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">consectetur ,</a>Dateratr since 2015</h5>
							</div>
						</li><li class="clone flex-active-slide" style="width: 234px; float: left; display: block;">
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2015</h5>
							</div>
						</li>
						<li style="width: 234px; float: left; display: block;" class="">
							<div class="banner-info">
							   <h3>Lorem Ipsum is simply dummy</h3>
							   <h4><span class="m_2">"</span>Contrary to popular<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">consectetur ,</a>Dateratr since 2015</h5>
							</div>
						</li>
						<li class="" style="width: 234px; float: left; display: block;">
							<div class="banner-info">
							   <h3>But I must explain</h3>
							   <h4><span class="m_2">"</span>Sed ut perspiciatis<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">Lorem ipsum ,</a>Dateratr since 2015</h5>
							</div>
						</li>
						<li class="" style="width: 234px; float: left; display: block;">
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2015</h5>
							</div>
						</li>
				    <li style="width: 234px; float: left; display: block;" class="clone">
							<div class="banner-info">
							   <h3>Lorem Ipsum is simply dummy</h3>
							   <h4><span class="m_2">"</span>Contrary to popular<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">consectetur ,</a>Dateratr since 2015</h5>
							</div>
						</li><li class="clone" style="width: 234px; float: left; display: block;">
							<div class="banner-info">
							   <h3>Meet Jesica and Adam</h3>
							   <h4><span class="m_2">"</span> my true love here<span class="m_2"> "</span></h4>
							   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</p>
							   <h5><a href="#">Adam Chamler ,</a>Dateratr since 2015</h5>
							</div>
						</li></ul></div><ol class="flex-control-nav flex-control-paging"><li><a class="">1</a></li><li><a class="">2</a></li><li><a>3</a></li><li><a>4</a></li><li><a>5</a></li></ol><ul class="flex-direction-nav"><li><a class="flex-prev" href="#">Previous</a></li><li><a class="flex-next" href="#">Next</a></li></ul></div>
	      </section>
   	  	</div>
   	  </div>
   	  <div class="footer">
   	  	 <div class="container">
   	  		<div class="col-md-4">
   	  		   <script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) return;
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
				<div class="like_box">
					<div class="fb-like-box" data-href="http://www.facebook.com/w3layouts" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
			    </div>
   	  	    </div>
   	  	    <div class="col-md-4 contact_grid">
   	  	      <h3>About Us</h3>
   	  	       <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
   	  	    </div>
   	  	    <div class="col-md-4 contact_grid">
   	  	        <h3>Contact us</h3>
   	  	        <p>500 Lorem Ipsum Dolor Sit,</p>
		   		<p>22-56-2-9 Sit Amet, Lorem,</p>
		   		<p>USA</p>
		   		<p>Phone:(00) 222 666 444</p>
		   		<p>Fax: (000) 000 00 00 0</p>
		 	 	<p>Email : <a href="malito:mail@demolink.org">mail(at)Health.com</a></p>
		   	 </div>
   	  	    <div class="clearfix"> </div>
   	  	    <p class="copy">Copyright © 2015 Health. All Rights Reserved. Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
   	      </div>
   	  </div>
<!-- FlexSlider -->
<link href="css/flexslider.css" rel="stylesheet" type="text/css">
  <script defer="" src="js/jquery.flexslider.js"></script>
  <script type="text/javascript">
	$(function(){
	  SyntaxHighlighter.all();
	});
	$(window).load(function(){
	  $('.flexslider').flexslider({
		animation: "slide",
		start: function(slider){
		  $('body').removeClass('loading');
		}
	  });
	});
  </script>
<!-- FlexSlider -->

		</body></html>